html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

input,
button {
  outline: none;
  font-family: "Open Sans", sans-serif;
}

input {
  margin: 0;
}
