<div class="card">
  <section class="card-header">
    <h1 class="card-title">Todo App</h1>
  </section>
  <section class="card-content">
    <section class="add-todo">
      <input
        [(ngModel)]="newTodo"
        class="text-input"
        type="text"
        placeholder="Add new todos here"
      />
      <button (click)="addNewTodo()" class="add-todo-btn">Add</button>
    </section>
    <section class="todos">
      <app-todo-list
        (todoListUpdated)="updateTodoList()"
        [todos]="todos"
      ></app-todo-list>
    </section>
  </section>
  <section class="card-footer">
    <button type="button" class="btn-filter" (click)="setFilter('all')">
      All
    </button>
    <button type="button" class="btn-filter" (click)="setFilter('active')">
      Active
    </button>
    <button type="button" class="btn-filter" (click)="setFilter('completed')">
      Completed
    </button>
  </section>
</div>
